---
import SmallBadge from "@components/ui/SmallBadge.astro";
import { GenImage } from "@data/genImage";
import { genImagePath } from "@utils/utils";
export interface Props {
  image: GenImage | string;
  title?: string;
  details?: boolean;
  aspect?: "3/1" | "2/1" | "video" | "square";
  interactive?: boolean;
}
const aspectClass = Astro.props.aspect
  ? {
      "3/1": "aspect-3/1",
      "2/1": "aspect-2/1",
      video: "aspect-video",
      square: "aspect-square",
    }[Astro.props.aspect]
  : "";
const { image, title } = Astro.props;

const sizeString = `${image.width} x ${image.height}`;

const details = Astro.props.details ?? true;
const interactive = Astro.props.interactive ?? typeof image !== "string";

const imageUrl = typeof image !== "string" ? genImagePath(image) : image;
---

{
  typeof image !== "string" && (
    <figure class="m-0">
      <div class={`relative group prose-base`}>
        <img
          data-prompt={image.prompt}
          data-negative_prompt={image.negative_prompt}
          data-size={sizeString}
          data-seed={image.seed}
          data-steps={image.num_inference_steps}
          data-guidance_scale={image.guidance_scale}
          data-prompt_strength={image.prompt_strength}
          data-sampler={image.sampler_name}
          data-model={image.stable_diffusion_model}
          alt={image.prompt}
          src={imageUrl}
          class={`m-0 w-full ${aspectClass ?? "aspect-square"} ${
            interactive ? "cursor-pointer" : ""
          }`}
        />
      </div>
      {details && (
        <div class="max-w-md absolute bottom-0 left-0 group-hover:opacity-100 opacity-0 text-xs md:text-sm ml-2 mb-2">
          <SmallBadge label="prompt" value={image.prompt || "none"} />

          {image.negative_prompt && (
            <SmallBadge label="negative prompt" value={image.negative_prompt} />
          )}
          <SmallBadge label="size" value={sizeString} />
          <SmallBadge label="seed" value={image.seed} />
          <SmallBadge label="steps" value={image.num_inference_steps} />
          {image.guidance_scale && (
            <SmallBadge label="guidance scale" value={image.guidance_scale} />
          )}
          {image.prompt_strength && (
            <SmallBadge label="prompt strength" value={image.prompt_strength} />
          )}
          {image.sampler_name && (
            <SmallBadge label="sampler" value={image.sampler_name} />
          )}
          {image.stable_diffusion_model && (
            <SmallBadge label="model" value={image.stable_diffusion_model} />
          )}
        </div>
      )}
      {details && (
        <div class="absolute bottom-0 left-0 group-hover:hidden opacity-100 text-xs md:text-sm ml-2 mb-2">
          <div class="rounded px-2 text-center shadow pill opacity-80 bg-white text-gray-800 dark:text-gray-200 dark:bg-black">
            details
          </div>
        </div>
      )}
      {title && (
        <figcaption class="mt-1 mb-2 text-center text-sm">{title}</figcaption>
      )}
    </figure>
  )
}

<script>
  document.querySelectorAll("");
</script>
